body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(214, 221, 237, 0.381);  
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.btn {
  background-color: #4e4bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e39e0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: url('../images/Hero-bg.png'), #f7f9ff; /* Fallback color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #4E47FF;
}

.navbar .btn {
  background-color: #4e4bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar .btn:hover {
  background-color: #3e39e0;
}

/* Banner Section */
.banner {
  text-align: center;
  padding: 60px 20px;
  background: url('../images/Hero-bg.png'), #f7f9ff; /* Fallback color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 698px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 65px;
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}

.banner .btn {
  background-color: #4e4bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.banner .btn:hover {
  background-color: #3c39d1;
}
